/************* Site ****************/
@font-face {
  font-family: font_1;
  src: url(./fonts/Poppins-ExtraLight.woff);
}

@font-face {
  font-family: font_2;
  src: url(./fonts/SpaceMono-Regular.woff);
}

* {
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #ffffff;
}
main {
  padding-left: 7%;
  padding-right: 7%;
}

.logo {
  width: 15%;
}

h1 {
  font-size: 4rem;
  font-family: font_1;
  margin-top: 100px;
}

h2 {
  font-size: 2rem;
  font-family: font_1;
  margin-top: 40px;
}
p {
  font-size: 14px;
  font-family: font_1;
  font-weight: lighter;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .logo {
    width: 60%;
    padding-right: 5%;
  }
  .nav_header {
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 40px; */
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
  }

  .nav_header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #223cfa;
    font-family: font_2;
  }

  .nav_header a:hover {
    font-size: 1.7rem;
  }
}

/************* Forside ****************/

.body_img {
  background-image: url(img/baggrund.webp);
}

#forside_tekst {
  font-size: 1.5rem;
  font-family: font_1;
  font-weight: lighter;
  margin-top: 1.5rem;
}

@media (min-width: 800px) {
  .billede_1 {
    width: 100%;
    height: auto;
  }
}

/************* Om mig ****************/

.body_img2 {
  background-image: url(img/baggrund3.webp);
}

.mig_grid_1 p {
  margin-top: 10px;
}

.mig_grid_2 p {
  margin-top: 10px;
}

.mig_grid_3 p {
  margin-top: 10px;
}

/************* projekter ****************/

.body_img3 {
  background-image: url(img/baggrund3.webp);
}

.projekter {
  border-bottom: 1px solid #000;
}

.tema_billede {
  border-radius: 50px;
  width: 100%;
  height: auto;
}

/************* Kontakt ****************/

.body_img4 {
  background-image: url(img/baggrund4.webp);
}

#mail_icon {
  width: 35%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#telefon_icon {
  width: 30%;
  height: auto;
  padding-left: 7px;
  margin-top: auto;
  margin-bottom: auto;
}
#mail_tekst {
  margin-top: auto;
  margin-bottom: auto;
}
#telefon_tekst {
  margin-top: auto;
  margin-bottom: auto;
}
@media (min-width: 800px) {
  #mail_icon {
    width: 30%;
  }
  #telefon_icon {
    width: 25%;
  }
}
/************* footer ****************/

.footer_grid p {
  font-size: 0.8rem;
  margin-left: 5%;
}

.footer_grid {
  border-top: 1px solid #000;
  margin-top: 25px;
  margin-bottom: 30px;
}

.footer_grid_3 {
  margin-top: 10px;
}

.footer_grid_3 img {
  width: 30%;
  height: auto;
}
